.profile-content {
    background: #58bcbc;
}

.profile-box {
    background: #ffffff;
    height: 70%;
    width: 100%;
    margin: 10px 5px;
    }

#name {
        text-align: center;
        margin-top: 10px;
        margin-left: 50px;
        font-size: 1.1em;
}
 
#address {
    font-size: 0.9;
    color: black;
}

.editicon {
float: right;
}
#gender{
          font-size: 0.9em;
          color: black;
}
.address{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.country{
    float: left;
    margin-left: 10px;
    margin-top: 1px;
}
#country{
    color: black;
    font-size: 0.9;
}
.gender{
    float: left;
    margin-left: 10px;
    margin-top: 1px;
}
.home {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
#profilepic {
    display: block;
    margin: 0 auto;
    height: 3cm;
    width: 3cm;
}
#email{
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
    font-size: 0.9em;
}

.ion-label{
    background: #58bcbc;
}
.ion-items{
    background: #58bcbc;
}


$white: #ffffff;
$turquoise: #58bcbc;

.navbar {
    ion-navbar {
        div {
            background-color: $white;
        }
    }
    
    #menuRow {
        #menuBtn {
            width: 12%;
            padding: 0;
            margin: 2%;
            background-color: $white;
        }
    }
}

.ion-content {
    background-color: $turquoise;
    overflow: hidden;

    h1 {
        font-size: 20px;
    }

    ion-fab {
        img {
            width: 70%;
        }
    }
}