$white: #ffffff;
$turquoise: #58bcbc;

.ion-content {
    background-color: $turquoise;
}

.navbar {
    background-color: $white;
}

#userInputItem {
    padding: 1% 1%;
    position: fixed;
    bottom: 1%;
    left: 2%;
    right: 0;
    margin: 0;
    width: 90%;

    #userInput {
        ion-input {
            background: $white;
            padding: 0 5%;
        }
    }
}

#fabButton {
    background: $white;
    position: absolute;
    bottom: 15%;
    left: 75%;
    right: 0;

    img {
        width: 70%;
    }
}


#menu {
    background: $white;
    position: absolute;
    bottom: 15%;
    left: 75%;
    right: 0;

    img {
        width: 90%;
    }
}
.userMsg {
    text-align:right
}

.botMsg {
    text-align:left
}

