page-notifications {

}

#title{
    color: #f78f4f;
    font-size: 1.2em;
}

#title1{
    color: #ff5c54;
    font-size: 1.2em;
}
#title2{
    color: #7ac984;
    font-size: 1.2em;
}
#title3{
    color: #000;
    font-size: 1.2em;
}