$white: #ffffff;
$turquoise: #58bcbc;

.navbar {
    ion-navbar {
        div {
            background-color: $white;
        }
    }
    
    #menuRow {
        #menuBtn {
            width: 12%;
            padding: 0;
            margin: 2%;
            background-color: $white;
        }
    }
}

.ion-content {
    background-color: $turquoise;
    overflow: hidden;

    h1 {
        font-size: 20px;
    }

    ion-fab {
        img {
            width: 70%;
        }
    }
}