page-menu {
    // .menu-content {
    //     background: #58bcbc;
    // }

    // .no-scroll .scroll-content{
    //  overflow: hidden;
    // }

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    
    img {
      width: 50%;
      height: auto;
      margin: 20% auto;
    } 

    .logout-btn{
        // color: #58bcbc;
        font-size: 0.8em;
     }
}